
<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">		
		<script type="text/javascript" src="https://unpkg.com/vue@2.2.6"></script>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css">
		<link rel="stylesheet" href="index.css">
		<!-- 引入组件库 -->
		<script src="https://unpkg.com/element-ui/lib/index.js"></script>	  		
	</head>
	<body>
	  <div id="app">
	    <el-card :body-style="{ padding: '0px', 'text-align': 'center' }">
	      <img src="profile.jpg" class="image">
	      <div style="padding: 14px;">
	        <h1>Veck Hsiao</h1>
	      </div>			      
	      <el-tag>System Software</el-tag>
				<el-tag type="gray">Linux</el-tag>
				<el-tag type="primary">Cloud Computing</el-tag>
				<el-tag type="success">Server Engineering</el-tag>
				<el-tag type="primary">C/C++</el-tag>
				<el-tag type="success">Node.js</el-tag>
				<el-tag>Ruby on Rails</el-tag>
				<el-tag type="danger">Android/iOS/Web App</el-tag>
	      <h2 id="Contact"><a href="#Contact" class="headerlink" title="Contact"></a>Contact Info</h2>
	      <ul id="contact">
					<li v-for="data in contactData">
						{{ data.item }} - <a :href="data.href" target="_blank" rel="external">{{ data.value }}</a>
					</li>
				</ul>
	    </el-card>

			
			<h1 id="Experience">
				<a href="#Experience" class="headerlink" title="Experience"></a>Experience
			</h1>
			<ol>

				<!-- 露天拍賣 -->
				<li>
					Web Engineer in <a href="http://www.ruten.com.tw/" target="_blank" rel="external">Ruten</a>
					<el-button @click="ruten = true">Reten</el-button>
			    <el-dialog v-model="ruten" title="Ruten, a PChome and eBay JV company (September, 2015 – May, 2016) ">	
			    	<img src="ruten.gif" class="sub-image"><br>				    	
						<ul>
							<li>Maintain backend server programs. </li>
							<li>Collaborate with frontend engineer. </li>
							<li>Manipulate MySQL and PL/SQL database software.</li>
						</ul>			    
			    </el-dialog>
				</li>

				<!-- Justinsanity -->
				<li>
					Co-founder of <a href="http://justinsanity.github.io/" target="_blank" rel="external">Justinsanity</a>
			    <el-button @click="justinsanity = true">Justinsanity</el-button>
			    <el-dialog v-model="justinsanity" title="Justinsanity (since 2013)">			    	
			    	<img src="justinsanity.jpg" class="js-image"><br>
			    	<p>We are fellow favor in Computer Science and software technology. We make products and do technology research.</p>
			      <el-table :data="jsProject" style="width: 100%">
				      <el-table-column prop="project" label="Project"></el-table-column>
				      <el-table-column prop="url" label="Website"></el-table-column>
				    </el-table>
			    </el-dialog>					
				</li>

				<!-- WiHeart -->
				<li>
					Co-founder of <a href="https://wiheartio.github.io/" target="_blank" rel="external">WiHeart</a>
					<el-button @click="wiheart = true">WiHeart</el-button>
			    <el-dialog v-model="wiheart" title="WiHeart 瓦得能源有限公司 (August, 2016 – May, 2017) ">
			    	<img src="wiheart.png" class="wiheart-image"><br>
			    	<h2>WiHeart warms your heart</h2>
			    	<p>
						WiHeart Technology is a startup company dedicated on challenging various new topics. We started from management science and information technology, attempt to research and develop various feasible innovative topics.
						</p>
						<p>
						WiHeart upholds the mission "WiHeart warms your heart", providing people comfortable product experience to solve many difficulties in daily life. 
						</p>
						<ul>
							<li>Developed both iOS and Android version app 
					    </li>
							<li>Developed app backend server (Node.js with MongoDB)</li>
							<li>Developed <a href="https://wiheartio.github.io" target="_blank">official website</a></li>
							<li>Maintain system operation</li>
							<li>Company Management</li>
						</ul>
						<br>
			      <el-table :data="wiheartProject" style="width: 100%">
				      <el-table-column prop="project" label="Project"></el-table-column>
				      <el-table-column prop="url" label="Website"></el-table-column>
				    </el-table>						
			    </el-dialog>
				</li>

				<!-- 山角行 -->
				<li>
					Web developer of <a href="http://www.xn--rhto43ho7a.com/" target="_blank" rel="external">Xshogi</a>
					<el-button @click="xshogi = true">Xshogi</el-button>
			    <el-dialog v-model="xshogi" title="Xshogi 山角行日本將棋專賣店">
			    	<img src="xshogi.jpg" class="xshogi-image"><br>
			      -	Use Ruby on Rails to build up the official business website<br>
						-	Use Amazon web services to build some functions of the website<br>
						-	Use Heroku to host the website<br>
						-	Use Postgres database to store our data<br>
			    </el-dialog>
				</li>

				<!-- 政大專任助理 -->
				<li>				
					Web service maintainer in National Chengchi University
					<el-button @click="nccu = true">NCCU</el-button>
			    <el-dialog v-model="nccu" title="National Chengchi University - Flood Fire (March, 2017 - July, 2017)">
			    	<h2><a href="https://sites.google.com/a/newliteracies.co.cc/floodfiredata/">Flood Fire</a></h2><br>
			    	-	Use Elasticsearch and Postgres to build up information retrieval system<br>
						-	Maintain the system server which is an Ubuntu 14.04 distribution Linux<br>
						-	Using Git to do version control and manage a GitHub account for this institution<br>
						-	Create a web interface for using this system
			    </el-dialog>
				</li>

				<!-- FundersToken -->
				<li>				
					Frontend Engineer in <a href="https://diyti.fstk.io/" target="_blank" rel="external">FundersToken</a>
					<el-button @click="fstk = true">FundersToken</el-button>
			    <el-dialog v-model="fstk" title="FundersToken DIY-TI">
			    	<a href="https://diyti.fstk.io/"><img src="fstk.png" class="fstk-image"></a><br>
			    	- Frontend development of funcational website<br>
			    	- Integrate Ethereum blockchain backend server
			    </el-dialog>
				</li>

				<!-- AWS -->
				<li>				
					Cloud Support Engineer in Amazon Web Service
					<el-button @click="aws = true">Amazon Web Service</el-button>
			    <el-dialog v-model="aws" title="Amzon Web Service - Cloud Supprt Engineer (September, 2017 -)">
			    	- Premium Technical Support of deployment.
			    </el-dialog>
				</li>
			</ol>	

			<h1 id="Old_Blog"><a href="#Old_Blog" class="headerlink" title="Blog"></a>Blog</h1>

			<ul>
				<li>
					<a href="http://veckcode.blogspot.tw/" target="_blank" rel="external">Program City in Blogger</a>(2012, Summer - 2014, Spring)
				</li>
				<li>
					<a href="http://veck.logdown.com/" target="_blank" rel="external">Program City in Logdown</a>(2013, Fall - 2015, Spring)
				</li>
				<li>
					<a href="https://medium.com/@VeckHsiao" target="_blank" rel="external">Medium (2016, Fall - )</a>
				</li>
				<li>
					<a href="https://goo.gl/fdBqKh" target="_blank" rel="external">Beyond City (2018, Spring - )</a>
				</li>				
			</ul>
	  </div>
		<br><br>
<a href="https://www.taaze.tw/apredir.html?ap153522897_b_1000557295" target="_blank" title="把自己當成一個獨立的「人」，來思考關於「工作」的一切！"><img src="https://media.taaze.tw/showBanaerImage.html?pk=1000491417" border=0/></a>		
	</body>
  <script>
    new Vue({
      el: '#app',
      data: {
      	ruten: false,
      	justinsanity: false,
      	wiheart: false,
      	xshogi: false,
      	nccu: false,
      	fstk: false,
      	aws: false,
      	contactData: [
      		{ item: "Email", value: "fbukevin@gmail.com", href: "mailto:fbukevin@gmail.com"},
      		{ item: "GitHub", value: "@fbukevin", href: "https://github.com/fbukevin" },
      		{ item: "LinkedIn", value: "veckhsiao", href: "http://linkedin.com/in/veckhsiao" },
		{ item: "Telegram", value: "@fbukevin", href:" https://telegram.me/fbukevin" }
      	],
      	jsProject: [
      		{ project: 'Boo it!', url: 'https://justinsanity.github.io/boo-it/' }, 
          { project: 'Moil', url: 'http://veck.im/Moil/' }
        ],
      	wiheartProject: [
      		{ project: 'SDP', url: 'https://wiheartio.github.io/SDP/' }, 
          { project: 'X-1', url: 'https://wiheartio.github.io/x-1/' },
          { project: 'Fast Power', url: 'https://wiheartio.github.io/FastPower/' }
        ],        
    	}
    })
  </script>
	<!-- Global Site Tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-44048995-10"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'UA-44048995-10');
	</script>
</html>
